---
import Image from 'astro/components/Image.astro';
import type { ImageMetadata } from 'astro';
import { Icon } from 'astro-icon/components';

interface Props {
    id?: number;
    title?: string;
    summary?: string;
    techStack?: string[];
    projectImgName?: string;
    projectImgAlt?: string;
    projectImgW?: number;
    projectImgH?: number;
    githubLink?: string;
    liveLink?: string;
    projectInfo?: string;
    featured?: boolean;
    projectsPage?: boolean;
    loadingType?: string;
}

const {
    id=0,
    title="Content Writing Website", 
    summary="Gorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Gorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis.",
    techStack=["react", "supabase", "tailwindcss"],
    projectImgName="/src/assets/projectImages/default.jpg",
    projectImgAlt="project",
    projectImgW=475,
    projectImgH=156,
    githubLink="https://github.com/Keanin-Cupido",
    liveLink="https://github.com/Keanin-Cupido",
    featured=true,
    projectsPage=true,
    loadingType="eager"
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/projectImages/*.{jpeg,jpg,png,gif}');
if (!images[projectImgName]) throw new Error(`"${projectImgName}" does not exist in glob: "/src/assets/projectImages/*.{jpeg,jpg,png,gif}"`);
---

<article class="card-project-sm group relative flex h-full w-full flex-col overflow-hidden rounded-2xl bg-[#4778b71a] shadow-sm hover:shadow-none hover:scale-105 transition">
    <!-- Image -->
    <div class="aspect-h-3 aspect-w-4 overflow-hidden bg-dark-950 transition-opacity group-hover:opacity-75">
        <a href={`/projects/${id}`} class="block h-full w-full">
            <Image 
                src={images[projectImgName]()} 
                alt={projectImgAlt} 
                width={projectImgW} 
                height={projectImgH} 
                loading={loadingType as "eager" | "lazy" | undefined}
                class="w-full h-full object-cover object-center"
            />
        </a>
    </div>

    <div class="flex flex-1 flex-col p-4 gap-2">
        <!-- Logo + title -->
        <a href=`/projects/${id}` class="flex flex-row w-full items-center justify-start gap-2">
            <div class="bg-white w-8 h-8 rounded-2xl opacity-30"></div>
            <h4 class="text-wthemee text-lg font-normal leading-snug text-dark-50 transition-colors hover:text-indigo-400">{title}</h4>
        </a>

        <!-- Summary -->
        <p class="mt-3 line-clamp-3 text-sm leading-snug text-dark-300">{summary}</p>

        <!-- Tech Used -->
        <div class="-mb-2 -ml-2 flex -space-x-1">
            {
                techStack.map(tech => (
                    <span class="text-white inline-flex h-12 w-12 items-center justify-center cursor-default text-xl" aria-label=`${tech}`>
                        <Icon class="icon" name=`devicon:${tech}` />
                    </span>
                ))
            }
        </div>
    </div>
</article>
