---
import Image from 'astro/components/Image.astro';
import KeaninCupidoLogo from '../../public/logo.svg';

interface Props {
    links?: string[];
}

const { links=["Home", "Projects", "About", "Contact"] } = Astro.props as Props;
const currentYear = new Date().getUTCFullYear();

const socialLinks = [
    { url: "https://github.com/Keanin-Cupido", icon: "fa-github", label: "github" },
    { url: "/", icon: "fa-x-twitter", label: "twitter/x" },
    { url: "/", icon: "fa-codepen", label: "codepen" },
    { url: "/", icon: "fa-linkedin", label: "linkedin" }
];
---
<footer class="footer">
    <div class="circle_image">
        <a href={'/'}>
            <Image 
                loading="lazy"
                src={KeaninCupidoLogo}
                alt={"logo"}
                width={45}
                height={45}
            />
        </a>
    </div>

    <p class="footer_summary">A <b>web developer</b> creating elegant, <b>user-friendly</b> websites. Explore <a href="/projects" class="link"><u>my work</u></a> and discover how I turn ideas into seamless online experiences. </p>

    <ul class="links">
        {
            links.map(link => (
                <li>
                    <a href={`/${link.toLowerCase()}`}>{link === "" ? "Home" : link}</a>
                </li>
            ))
        }
    </ul>

    <div class="bottom">
        <p class="copyright">Copyright © {currentYear} Keanin Cupido</p>
        <p>|</p>
        <div class="socials">
            {socialLinks.map(({ url, icon, label }) => (
                <a href={url} target="_blank" rel="noopener noreferrer" aria-label={label}>
                    <i class={`fa-brands ${icon}`}></i>
                </a>
            ))}
        </div>
    </div>
</footer>

<style>
    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        margin: 0 auto;
        padding: 5em 0em;
        text-align: center;

        .circle_image {
            transition: all 0.2s ease;
        }
        .circle_image:hover {
            opacity: 0.5;
            transform: scale(0.99);
        }
        .footer_summary {
            font-size: 0.9rem;
            color: rgb(var(--very-light-blue));
            width: 100%;
            max-width: 300px;
        }
        .footer_summary .link {
            transition: all 0.2s ease;
        }
        .footer_summary .link:hover {
            color: white;
        }
        .links {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2.5em;
            font-size: 0.9rem;
        }
        .links li {
            transition: all 0.2s ease;
        }
        .links li:hover {
            transform: translateY(-2px);
            color: rgb(var(--very-light-blue));
        }
        .bottom {
            margin-top: 2em;
        }
        .bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1em;
        }
        .bottom p {
            font-size: 0.9rem;
            color: rgba(var(--very-light-blue), 0.7);
        }
        .bottom .socials {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1em;
        }
        .bottom i {
            font-size: 0.9rem;
            color: rgba(var(--very-light-blue), 0.7);
            transition: all 0.2s ease;
        }
        .bottom i:hover {
            color: rgba(var(--very-light-blue), 1);
        }
    }

    /* === Media Queries === */
	@media (width <= 375px) {
        .footer {
            width: 90%;
            .links {
                flex-direction: column;
                gap: 1em;
            }
            .bottom {
                flex-direction: column;
                gap: 1em;
            }
        }
    }
</style>