---
import Layout from '../layouts/Layout.astro';
import Divider from '../components/Divider.astro';
import SectionLayout from '../layouts/SectionLayout.astro';
import CardProject from '../components/CardProject.astro';
import Image from 'astro/components/Image.astro';
import Button from '../components/Button.astro';
import CardTechStack from '../components/CardTechStack.astro';
import techStack from '../data/techStack';
import { Icon } from 'astro-icon/components';

// Images
import frontendLogo from '../../public/frontend.svg';
import logo from '../../public/logo.svg';

// Data
import projectsData from '../data/projectsData';

---

<Layout title="Keanin Cupido - Web Dev Portfolio">
	<main class="main--home min-h-screen">
		<header class="header" transition:animate="fade">

			<Image src={logo} alt={"logo"} width={65} height={65} class="mb-6 animate-waving-hand" />

			<h2 class="title--one">Hi, I'm</h2>
			<h2 class="title--two">{'{'}Keanin Cupido{'}'}</h2>
			<h2 class="title--three">
				<Image 
					src={frontendLogo}
					alt={"logo"}
					width={77.24}
					height={51.57}
					class={"frontend_logo animate-pulse"}
				/>
				WEB DEVELOPER
			</h2>
			<p class="header_summary">A <b>web developer</b> creating elegant, <b>user-friendly</b> websites. Explore <a href="/projects" class="link"><u>my work</u></a> and discover how I turn ideas into seamless online experiences. </p>
			<div class="socials">
				<a href="https://github.com/Keanin-Cupido" target="_blank" rel="noopener noreferrer">
					<Icon name="mdi:github" />
				</a>
				<a href="http://" target="_blank" rel="noopener noreferrer">
					<Icon name="mdi:twitter" />
				</a>
				<a href="http://" target="_blank" rel="noopener noreferrer">
					<Icon name="mdi:codepen" />
				</a>
				<a href="http://" target="_blank" rel="noopener noreferrer">
					<Icon name="mdi:linkedin" />           
				</a>
			</div>
		</header>

		<!-- <Divider /> -->

		<!-- About Summary -->
		 <section class="about_summary">
			<p>As a web developer specializing in <u>frontend technologies</u>, I excel in creating dynamic and engaging user interfaces. My expertise in <u>React</u> and deep understanding of <u>JavaScript</u> allow me to build responsive and efficient applications.</p>

			<p>I am passionate about crafting seamless user experiences and constantly staying updated with the latest trends and best practices in frontend development.</p>
		 </section>

		<Divider />

		<!-- Featured Work -->
		 <SectionLayout
		 	heading='Featured Work'
			subheading='Discover my featured projects showcasing the best of my work in web development. Each project highlights my skills in React, JavaScript, and creating intuitive user interfaces.'
		 >
		 	{
				projectsData.map(project => {
					return (project.featured === true
						? <CardProject 
							title={project.title} 
							summary={project.summary}
							techStack={project.techStack}
							projectImgName={project.projectImgName}
							projectImgAlt={project.projectImgAlt}
							projectImgW={project.projectImgW}
							projectImgH={project.projectImgH}
							githubLink={project.githubLink}
							liveLink={project.liveLink}
							featured={project.featured}
						  /> 
						: null
					)
				})
			}
			<Button title="View More" link="/projects" primary newTab={false}/>
		 </SectionLayout>

		<Divider />

		<!-- About Me -->
		<SectionLayout
			heading='About Me'
			subheading=''
		>
		 	<div class="about_me_section">
				<p>I'm a web developer specializing in frontend technologies with strong skills in <b>React</b> and <b>JavaScript</b>. I focus on creating intuitive, responsive websites and staying updated with the latest web development trends and best practices.
				I also have a keen interest in mobile app development using <b>React Native</b>. This enables me to create versatile mobile applications alongside my web projects, bridging the gap between web and mobile experiences.
				</p>
				<p>I studied computer science at the University of the Western Cape, where I completed modules in <b>Human-Computer Interaction</b>, <b>Data Structures and Algorithms</b>, <b>Databases</b>, and <b>Software Engineering</b>. Additionally, I have experience with languages like <b>Python</b> and <b>Java</b>, and I am currently learning the <b>Rust</b> programming language.</p>
			</div>
			<Button title="Download CV" link="" primary newTab={false}/>
		</SectionLayout>

		<Divider />

		<!-- My Techstack -->
		 <SectionLayout
		 	heading='My Techstack'
			subheading='My tech stack focuses on frontend technologies like React, TypeScript, Next.js, and Astro.js, with strong skills in HTML, CSS, and Sass. I also develop mobile apps using React Native and have experience with Python, Java, and am currently learning Rust.'
		 >
		 	<div class="techStack-container">
				{
					techStack.map(tech => (
						<CardTechStack 
							icon={tech.icon},
							name={tech.name},
							description={tech.description},
							btnInfo={tech.btnInfo}
						/>
					))
				}
			</div>
		 </SectionLayout>

		<Divider />

		<!-- Contact -->
		<SectionLayout
			heading='Contact'
			subheading="I'd love to hear from you! Whether you have a project in mind, a question, or just want to connect, feel free to reach out. You can contact me via email or through the contact form below."
		>
			<div class="contact-container">
				<span class="email">
					<p>keanin16@gmail.com</p>
					<Icon name="mdi:email" />
				</span>
				<form class="form" name="contact_form" id="contact_form">
					<!-- Top -->
					<div class="top">
						<div class="input">
							<label for="name">Name</label>
							<input type="text" maxlength="256" name="name" id="name" placeholder="Jane Doe" required autocomplete="name" />
						</div>
						<div class="input">
							<label for="email">Email</label>
							<input type="email" maxlength="256" name="email" id="email" placeholder="What's your email?" required autocomplete="email" />
						</div>
					</div>
					<!-- Middle -->
					<div class="middle">
						<div class="input">
							<label for="phone">Phone</label>
							<input type="number" maxlength="256" name="phone" id="phone" placeholder="What's your phone number?" required autocomplete="phone" />
						</div>
						<div class="input">
							<label for="subject">Subject</label>
							<input type="text" maxlength="256" name="subject" id="subject" placeholder="How can I help?" required />
						</div>				
					</div>
					<!-- Bottom -->
					<div class="bottom">
						<div class="input">
							<label for="subject">Message</label>
							<textarea name="message" maxlength="5000" id="message" placeholder="Hi there! I would like to get in touch with you to inquiry about a project." required />
						</div>	
						<button type="submit">Send Message <Icon name="mdi:arrow-top-right" /></button>
					</div>
				</form>
			</div>
		</SectionLayout>
	</main>
</Layout>

<style>
	.main--home {
		width: 100%;
		max-width: 1000px;
		margin: 4.25em auto;
	}
	.main--home .header {
		width: 100%;
		text-align: center;
		line-height: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: .5em;
		& .header_summary .link:hover {
        	color: white;
    	}
		& h2.title--one {
			font-size: 0.75rem;
			font-weight: 500;
		}
		& h2.title--two {
			font-size: 1.5rem;
			font-weight: 600;
		}
		& h2.title--three {
			position: relative;
			font-size: 4.25rem;
			font-weight: 900;
		}
		& h2.title--three .frontend_logo {
			position: absolute;
			top: -0.35em;
			left: -1.25em;
		}
		& .header_summary {
			font-size: 1rem;
			color: rgb(var(--very-light-blue));
			width: 100%;
			max-width: 500px;
			margin: 0 auto;
			line-height: 1.4;
		}
		& .header_summary .link {
			transition: all 0.2s ease;
		}
		& .socials {
			margin-top: 2em;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: 1.5em;
		}
		& .socials > a > :first-child {
			cursor: pointer;
			font-size: 1.35rem;
			transition: all 0.2s ease;
			color: white;
		}
		& .socials > a > :first-child:hover {
			transform: translateY(-3px);
		}
	}
	/* About Summary */
	.main--home .about_summary {
		width: 100%;
		max-width: 700px;
		margin: 10em auto;
		font-weight: 600;
		font-size: 1rem;
		text-align: center;
		color: rgb(var(--very-light-blue));
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2em;
	}
	/* About Me */
	.main--home .about_me_section {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 1em;
		width: 100%;
		text-align: left;
		& > p {
			font-size: 1rem;
			font-weight: 300;
			color: rgb(var(--very-light-blue));
		}
		& > p > b {
			font-weight: 700;
		}
	}
	/* TechStack */
	.main--home .techStack-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		row-gap: 1em;
	}
	/* Contact */
	.main--home .contact-container {
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 2em;
		& .email {
			width: 100%;
			max-width: fit-content;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: 0.5em;
			opacity: 0.85;
			font-size: 0.9rem;
			font-weight: 300;
		}
		& .form {
			width: 100%;
			/* max-width: 674px; */
			padding: 4em 4em;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2em;
			border-radius: 15px;
			border-top: 1px solid rgba(47, 179, 255, 0.25);
			background-color: rgba(var(--very-light-blue), 0.015);
			transition: all 0.3s ease-in-out;
			&:hover {
				background-color: rgba(var(--very-light-blue), 0.05);
			}
			& .input {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-between;
				gap: 1.5em;
				text-align: left;
				& label {
					font-size: 1.15rem;
				}
			}
			& input[type="number"]::-webkit-outer-spin-button, 
			& input[type="number"]::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			& input[type="number"] {
				-moz-appearance: textfield;
			}
			& input {
				font-family: inherit;
				font-weight: 200;
				width: 100%;
				max-width: 350px;
				padding: 0.5em 0em 0.5em 0em;
				background: transparent;
				border: none;
				outline: none;
				border-bottom: 2px solid rgba(var(--very-light-blue), 0.075);
				transition: all 0.3s ease-in-out;

				&:focus, &:valid {
					border-bottom: 2px solid rgba(var(--very-light-blue), 0.5);
				}

				&:-webkit-autofill,
				&:-webkit-autofill:focus {
					border-bottom: 2px solid rgba(var(--very-light-blue), 0.5);
					transition: background-color 0s 600000s, color 0s 600000s !important;
				}
			}
			& textarea {
				font-family: inherit;
				width: 100%;
				height: 150px;
				max-height: 300px;
				padding: 0.5em 0em 0.5em 0em;
				font-weight: 200;
				background: transparent;
				border: none;
				outline: none;
				border-bottom: 2px solid rgba(var(--very-light-blue), 0.075);
				transition: all 0.3s ease-in-out;

				&:focus, &:valid {
					border-bottom: 2px solid rgba(var(--very-light-blue), 0.5);
				}
			}
			& .top, & .middle {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				gap: 1.5em;
			}
			& .bottom {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-between;
				gap: 2em;
				& > button {
					text-align: left;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					gap: 0.5em;
					&:hover {
						opacity: 0.5;
						& :first-child() {
							transition: all 0.3s ease-in-out;
							transform: translate(3px, -3px);
						}
					}
				}
			}
		}
	}

	/* <= 320px */
	@media (0px <= width <= 320px) {
		.main--home .header {
			& h2.title--two {
				font-size: 1rem;
			}
			& h2.title--three {
				font-size: 2rem;
			}
			& h2.title--three .frontend_logo {
				transform: scale(0.5) rotate(20deg);
				top: -1.5em;
				left: -0.75em;
			}
			& .header_summary {
				font-size: 0.8rem;
				width: 80%;
				max-width: 300px;
			}
		}
		.main--home .about_summary {
			width: 80%;
			max-width: 700px;
			font-size: 0.7rem;
		}
		.main--home .techStack-container {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.main--home .about_me_section {
			width: 90%;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
		.main--home .contact-container {
			& .email {
				max-width: none;
			}
		}
		.main--home .contact-container {
			& .form {
				padding: 2em 1.5em;
				& .top, & .middle {
					flex-direction: column;
				}
			}
		}
    }

    /* <= 375px */
    @media (321px <= width <= 375px) {
		.main--home .header {
			& h2.title--two {
				font-size: 1.15rem;
			}
			& h2.title--three {
				font-size: 2.15rem;
			}
			& h2.title--three .frontend_logo {
				transform: scale(0.5) rotate(20deg);
				top: -1.5em;
				left: -1em;
			}
			& .header_summary {
				font-size: 0.825rem;
				width: 80%;
				max-width: 300px;
			}
		}
		.main--home .about_summary {
			width: 80%;
			max-width: 700px;
			font-size: 0.7rem;
		}
		.main--home .techStack-container {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.main--home .about_me_section {
			width: 90%;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
		.main--home .contact-container {
			& .email {
				max-width: none;
			}
		}
		.main--home .contact-container {
			& .form {
				padding: 2em 1.5em;
				& .top, & .middle {
					flex-direction: column;
				}
			}
		}
    }

    /* <= 425px */
    @media (376px <= width <= 425px) {
		.main--home .header {
			& h2.title--two {
				font-size: 1.5rem;
			}
			& h2.title--three {
				font-size: 2.5rem;
			}
			& h2.title--three .frontend_logo {
				transform: scale(0.65) rotate(20deg);
				top: -1.5em;
				left: -1.05em;
			}
			& .header_summary {
				font-size: 0.85rem;
				width: 80%;
				max-width: 300px;
			}
		}
		.main--home .about_summary {
			width: 80%;
			max-width: 700px;
			font-size: 0.7rem;
		}
		.main--home .techStack-container {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.main--home .about_me_section {
			width: 90%;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
		.main--home .contact-container {
			& .email {
				max-width: none;
			}
		}
		.main--home .contact-container {
			& .form {
				padding: 2.5em 2em;
				& .top, & .middle {
					flex-direction: column;
				}
			}
		}
    }

    /* <= 768px */
    @media (426px <= width <= 768px) {
		.main--home .header {
			& h2.title--two {
				font-size: 1.5rem;
			}
			& h2.title--three {
				font-size: 3.5rem;
			}
			& h2.title--three .frontend_logo {
				transform: scale(0.75) rotate(5deg);
				top: -0.5em;
				left: -1.35em;
			}
			& .header_summary {
				font-size: 0.9rem;
				width: 80%;
				max-width: 400px;
			}
		}
		.main--home .about_summary {
			width: 80%;
			max-width: 700px;
			font-size: 0.7rem;
		}
		.main--home .techStack-container {
			width: 80%;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: 2em;
		}
		.main--home .about_me_section {
			width: 90%;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
		.main--home .contact-container {
			& .email {
				max-width: none;
			}
		}
    }

    /* <= 1024px */
    @media (769px <= width <= 1024px) {
		.main--home .about_me_section {
			width: 90%;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: left;
		}
    }

</style>
