---
import Layout from '../layouts/Layout.astro';
import SectionLayout from '../layouts/SectionLayout.astro';
import FilterProjects from '../components/FilterProjects.astro';
import projectsData from '../data/projectsData';
import CardProjectSmall from '../components/CardProjectSmall.astro';
---

<Layout title="Projects">
    <main class="w-full max-w-[1400px] my-[4.25em] mx-auto px-8 lg:px-16">
        <SectionLayout 
            heading="My Project Portfolio" 
            subheading="Explore a collection of my best work, showcasing my skills in web development, problem-solving, and creative thinking."
        />

        <!-- Filtering Section -->
        <FilterProjects />

        <!-- Projects -->
        <section class="mt-4 sm:mt-8 pb-16 grid grid-cols-1 sm:grid-cols-2 gap-8 xl:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-5">
            {projectsData.sort((a, b) => Number(b.featured) - Number(a.featured)).map((project, index) => (
                <CardProjectSmall
                    id={project.id}
                    title={project.title} 
                    summary={project.summary}
                    techStack={project.techStack}
                    projectImgName={project.projectImgName}
                    projectImgAlt={project.projectImgAlt}
                    projectImgW={project.projectImgW}
                    projectImgH={project.projectImgH}
                    githubLink={project.githubLink}
                    liveLink={project.liveLink}
                    featured={project.featured}
                    loadingType={index < 3 ? "eager" : "lazy"}
                />
            ))}
        </section>

        <!-- Call-to-action -->
        <div class="mt-12 text-center">
            <p class="mb-4 text-lg">Interested in collaborating or have a project in mind?</p>
            <a href="/contact" class="inline-block px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors">Get in Touch</a>
        </div>
    </main>
</Layout>

