---
import Layout from '../layouts/Layout.astro';
import SectionLayout from '../layouts/SectionLayout.astro';
import FilterProjects from '../components/FilterProjects.astro';
import projectsData from '../data/projectsData';
// import CardProject from '../components/CardProject.astro';
import CardProjectSmall from '../components/CardProjectSmall.astro';
---

<Layout title="Keanin Cupido - Projects">
    <main class="w-full max-w-[1400px] my-[4.25em] mx-auto px-8 lg:px-16">
        <SectionLayout heading="Projects" subheading='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eleifend eget in vel tristique. Aenean urna, nulla massa mauris.' />

        <!-- Filtering Section -->
         <FilterProjects />

        <!-- Projects -->
        <section class="mt-4 sm:mt-8 pb-16 grid grid-cols-1 sm:grid-cols-2 gap-8 xl:grid-cols-3 2xl:grid-cols-4 3xl:grid-cols-5">
            {
				projectsData.map(project => {
					return (
						<CardProjectSmall
                            id={project.id}
							title={project.title} 
							summary={project.summary}
							techStack={project.techStack}
							projectImgName={project.projectImgName}
							projectImgAlt={project.projectImgAlt}
							projectImgW={project.projectImgW}
							projectImgH={project.projectImgH}
							githubLink={project.githubLink}
							liveLink={project.liveLink}
							featured={project.featured}
							loadingType={project.id > 2 ? "lazy" : "eager"}
						/> 
					)
				})
			}
        </section>
    </main>
</Layout>

