---
import Layout from '../layouts/Layout.astro';
import SectionLayout from '../layouts/SectionLayout.astro';
import FilterProjects from '../components/FilterProjects.astro';
import projectsData from '../data/projectsData';
import CardProject from '../components/CardProject.astro';
---

<Layout title="Keanin Cupido - Projects">
    <main class="main--projects">
        <SectionLayout heading="Projects" subheading='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eleifend eget in vel tristique. Aenean urna, nulla massa mauris.'>

        </SectionLayout>

        <!-- Filtering Section -->
         <FilterProjects />

        <!-- Projects -->
        <section class="projects">
            {
				projectsData.map(project => {
					return (
                        <CardProject 
							title={project.title} 
							summary={project.summary}
							techStack={project.techStack}
							projectImgName={project.projectImgName}
							projectImgAlt={project.projectImgAlt}
							projectImgW={project.projectImgW}
							projectImgH={project.projectImgH}
							githubLink={project.githubLink}
							liveLink={project.liveLink}
							featured={project.featured}
						  /> 
					)
				})
			}
        </section>
    </main>
</Layout>

<style>
	.main--projects {
		width: 100%;
		max-width: 1000px;
		margin: 4.25em auto;
	}
</style>