---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Image from 'astro/components/Image.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from "astro:transitions";

// Image
import line_topright from '../../public/line_topright.svg';
import line_center1 from '../../public/line_center1.svg';
import line_center2 from '../../public/line_center2.svg';
import line_middle_left from '../../public/line_middle_left.svg';
import line_middle_right from '../../public/line_middle_right.svg';
import line_bottom1 from '../../public/line_bottom1.svg';
---

<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Icons -->
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
		</head>
	<body class="relative">
		<Image class={"line_topright"} src={line_topright} alt={"line_topright"} width={286} height={270} />

		<Navbar 
			links={["", "Projects", "About"]},
			linksNames={["/", "/projects", "/about"]}
		/>
		
		<Image class={"line_center1"} src={line_center1} alt={"line_center1"} width={1556} height={388.24} />
		<Image class={"line_center2"} src={line_center2} alt={"line_center2"} width={1492} height={153} />

		<Image class={"line_middle_left"} src={line_middle_left} alt={"line_middle_left"} width={132} height={608} />
		<Image class={"line_middle_right"} src={line_middle_right} alt={"line_middle_right"} width={218} height={280} />
		
		<Image class={"line_bottom1"} src={line_bottom1} alt={"line_bottom1"} width={1492} height={153} />

		<slot />

		<Footer
			links={["Home", "Projects", "About", "Contact"]},
			linksNames={["/", "/projects", "/about", "/contact"]}
		/>
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
	
	:root {
		--light-blue: 59, 148, 255;
		--light-blue-navbar: 100, 170, 255;
		--very-light-blue: 158, 181, 210;

		--very-dark-blue: 0, 12, 26;
		--very-dark-blue-light: 0, 23, 51;
		--very-dark-blue-lightest: 0, 28, 61;

		--bg-blue-gradient: linear-gradient(
			180deg,
			rgb(var(--very-dark-blue)) 0%,
			rgb(var(--very-dark-blue)) 12%,
			rgb(var(--very-dark-blue-light)) 50%,
			rgb(var(--very-dark-blue-lightest)) 100%
		);
	}
	*, *::before, *::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	html {
		font-family: system-ui, sans-serif;
	}
	body {
		width: 100%;
		min-height: 100vh;
		font-family: "Poppins", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1rem;
		color: white;
		background: rgb(var(--very-dark-blue));
		background: var(--bg-blue-gradient);
		padding: 2.25em 0em;
		overflow-x: hidden;
		position: relative;
	}

	/* Background Lines */
	body .line_topright {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
	}
	body .line_center1,
	body .line_center2,
	body .line_bottom1 {
		width: 100%;
		position: absolute;
		z-index: -1;
	}
	body .line_middle_left,
	body .line_middle_right {
		/* height: 100%; */
		position: absolute;
		z-index: -1;
	}
	body .line_center1 {
		top: 14em;
	}
	body .line_center2 {
		top: 21.5em;
	}

	body .line_middle_left {
		height: 90%;
		left: 0;
	}
	body .line_middle_right {
		height: 90%;
		right: 0;
	}

	body .line_bottom1 {
		bottom: 14em;
	}
</style>
